.vs
TimesheetManagement.API/bin
TimesheetManagement.API/obj
TimesheetManagement.Domain/bin
TimesheetManagement.Domain/obj
TimesheetManagement.Services/bin
TimesheetManagement.Services/obj
TimesheetManagement.Utils/bin
TimesheetManagement.Utils/obj
TimesheetManagement.Data/bin
TimesheetManagement.Data/obj
TimesheetManagement.Contracts/bin
TimesheetManagement.Contracts/obj
TimesheetManagement.API/internal_logs