<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b69ffa93-230e-4036-a7f5-182b94352be9/resourceGroups/TimesheetManagementGroup/providers/Microsoft.Web/sites/TimesheetManagementStageAPI</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://timesheetmanagementstageapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>400f5a68-d901-4641-8b98-a957f106c283</ProjectGuid>
    <PublishUrl>https://timesheetmanagementstageapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TimesheetManagementStageAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>